[run]
source = app
omit =
    # Configuración
    app/core/firebase.py
    # Tests mismos
    tests/*

[report]
exclude_lines =
    # No cubrir lineas de depuración
    pragma: no cover
    # No cubrir bloques imposibles
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    \.\.\.
    # No cubrir imports type-only
    if TYPE_CHECKING:

show_missing = True
skip_covered = False
precision = 1

[html]
directory = htmlcov
title = CaloFit Coverage Report
