version: '3.8'

services:
  # Base de Datos PostgreSQL
  db:
    image: postgres:15
    container_name: calofit_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: leomeflo09
      POSTGRES_DB: BD_Calofit
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Tu Backend FastAPI
  backend:
    build: .
    container_name: calofit_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:leomeflo09@db:5432/BD_Calofit
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
